@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Tajawal', system-ui, sans-serif;
  }
  .openresearch-header {
    background-image: url('images/openresearch-ai-logo-2024-stoned.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 10% 90%;
  }
}
